.button-group[data-v-83b3f2be] {
    margin-bottom: 20px
}

.button-group .button-design[data-v-83b3f2be] {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #d1d2d4;
    color: #555;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    height: 100%;
    text-align: left
}

@media(min-width:576px) {
    .button-group .button-design[data-v-83b3f2be] {
        flex-direction: column;
        min-height: 210px;
        padding: 0
    }
}

@media(min-width:768px) {
    .button-group .button-design[data-v-83b3f2be] {
        text-align: center
    }
}

.button-group .button-design .btn-selection-container[data-v-83b3f2be] {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    justify-content: left;
    width: 100%
}

@media(min-width:576px) {
    .button-group .button-design .btn-selection-container[data-v-83b3f2be] {
        justify-content: center
    }
}

.button-group .button-design .btn-selection[data-v-83b3f2be] {
    color: #1173ba;
    display: flex;
    font-size: 11px;
    font-weight: 500;
    justify-content: flex-start;
    min-height: 0;
    padding: 0
}

@media(min-width:576px) {
    .button-group .button-design .btn-selection[data-v-83b3f2be] {
        justify-content: flex-start;
        padding: 0
    }
}

.button-group .button-design .btn-selection .btn[data-v-83b3f2be] {
    border: 0;
    font-size: 12px;
    padding: 0;
    white-space: inherit
}

@media(min-width:576px) {
    .button-group .button-design .btn-selection .btn[data-v-83b3f2be] {
        border: 1px solid;
        padding: 4px 25px
    }
}

.button-group .button-design .btn-selection .info[data-v-83b3f2be] {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    text-align: left
}

.button-group .button-design .btn-selection .info .fal[data-v-83b3f2be] {
    font-size: 14px;
    line-height: 1.6;
    margin-right: 5px
}

.button-group .button-design .new-design[data-v-83b3f2be] {
    background: #0b77c4;
    border-radius: 10rem;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: .1em;
    overflow: hidden;
    padding: 4px 15px;
    position: absolute;
    right: 20px;
    text-transform: uppercase;
    top: -10px;
    white-space: nowrap
}

@media(min-width:768px) {
    .button-group .button-design .new-design[data-v-83b3f2be] {
        left: 20px;
        right: auto
    }
}

.button-group .button-design .header[data-v-83b3f2be] {
    align-items: center;
    background: #f2f2f7;
    border-radius: 3px 3px 0 0;
    display: flex;
    justify-content: center;
    min-width: 120px
}

@media(min-width:576px) {
    .button-group .button-design .header[data-v-83b3f2be] {
        min-width: 140px
    }
}

.button-group .button-design .header .info-btn[data-v-83b3f2be] {
    bottom: 18px;
    position: absolute;
    right: 22px
}

@media(min-width:576px) {
    .button-group .button-design .header .info-btn[data-v-83b3f2be] {
        bottom: auto;
        right: 22px;
        top: 6px
    }
}

.button-group .button-design .header .info-btn .info-icon[data-v-83b3f2be] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMaXZlbGxvXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDMyIDMyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMiAzMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlPi5zdDB7ZmlsbDojMGI3N2M0fTwvc3R5bGU+PGcgaWQ9Imljb25zIj48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTQuNiAxMS4zYzAtLjQuMS0uOC40LTEuMS4zLS4zLjctLjQgMS4xLS40LjQgMCAuOC4xIDEuMS40LjMuMy40LjcuNCAxLjEgMCAuNC0uMS43LS40IDFzLS43LjQtMS4xLjQtLjgtLjEtMS4xLS40Yy0uMy0uMy0uNS0uNy0uNC0xek0xNyAyMmgtMnYtNy41aDJWMjJ6Ii8+PHBhdGggY2xhc3M9InN0MCIgZD0iTTE2IDI4LjZDOSAyOC42IDMuNCAyMyAzLjQgMTZTOSAzLjQgMTYgMy40IDI4LjYgOSAyOC42IDE2IDIzIDI4LjYgMTYgMjguNnptMC0yNEM5LjcgNC42IDQuNiA5LjcgNC42IDE2UzkuNyAyNy40IDE2IDI3LjQgMjcuNCAyMi4zIDI3LjQgMTYgMjIuMyA0LjYgMTYgNC42eiIvPjwvZz48L3N2Zz4=);
    cursor: pointer;
    display: block;
    height: 16px;
    width: 16px
}

.button-group .button-design .content-button[data-v-83b3f2be] {
    align-content: flex-start;
    align-items: flex-start;
    border: #d1d2d4;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    min-height: 140px;
    padding: 15px 20px;
    width: 100%
}

@media(min-width:576px) {
    .button-group .button-design .content-button[data-v-83b3f2be] {
        min-height: 200px
    }
}

@media(min-width:768px) {
    .button-group .button-design .content-button[data-v-83b3f2be] {
        align-items: center;
        min-height: 265px;
        padding: 20px
    }
}

@media(min-width:992px) {
    .button-group .button-design .content-button[data-v-83b3f2be] {
        min-height: 285px
    }
}

@media(min-width:1200px) {
    .button-group .button-design .content-button[data-v-83b3f2be] {
        min-height: 265px
    }
}

@media(min-width:1400px) {
    .button-group .button-design .content-button[data-v-83b3f2be] {
        min-height: 250px
    }
}

.button-group .button-design p[data-v-83b3f2be] {
    font-size: 12px;
    margin-bottom: 0;
    padding: 10px 0
}

.button-group .button-design .title[data-v-83b3f2be] {
    color: #0c5081;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700
}

.button-group .button-design .service-icon[data-v-83b3f2be] {
    margin: 20px;
    max-width: 100%
}

.button-group .button-design .info-circle[data-v-83b3f2be] {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 15px;
    width: 15px
}

.button-group .button-design .text[data-v-83b3f2be] {
    padding-left: 0
}

@media(min-width:768px) {
    .button-group .button-design .text[data-v-83b3f2be] {
        min-height: 75px
    }
}

.button-group.col-md-3[data-v-83b3f2be] {
    padding-left: 10px;
    padding-right: 10px
}

.button-group.active .button-design[data-v-83b3f2be] {
    box-shadow: 0 0 0 2px #0b77c4
}

.button-group.active.open[data-v-83b3f2be] {
    margin-bottom: -2px
}

@media(min-width:768px) {
    .button-group.active.open[data-v-83b3f2be] {
        margin-bottom: 0
    }
}

.button-group.active.open .button-design[data-v-83b3f2be] {
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 -2px 0 0 #0b77c4, -2px 0 0 0 #0b77c4, 2px 0 0 0 #0b77c4;
    padding-bottom: 19px
}

.closer-items-row[data-v-084030fb] {
    margin-left: -10px;
    margin-right: -10px
}