.box-design-service[data-v-73492e4b] {
    background: #fff;
    box-shadow: 0 0 0 2px #0b77c4;
    margin-top: 0;
    padding: 0 20px 20px;
    text-align: center
}

@media(min-width:768px) {
    .box-design-service[data-v-73492e4b] {
        border-radius: 3px 0 3px 3px;
        padding: 20px
    }
}

.box-design-service .service[data-v-73492e4b] {
    margin-bottom: 20px
}

.box-design-service .service[data-v-73492e4b]:last-child {
    margin-bottom: 0
}

@media(min-width:768px) {
    .box-design-service .service[data-v-73492e4b] {
        margin-bottom: 0
    }
}

.box-design-service .title[data-v-73492e4b] {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px
}

.box-design-service .service-box[data-v-73492e4b] {
    background: #fff;
    border-radius: 0;
    height: 100%;
    text-align: left
}

.box-design-service .service-box .heading[data-v-73492e4b] {
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 16px;
    text-align: end
}

@media(min-width:768px) {
    .box-design-service .service-box .heading[data-v-73492e4b] {
        text-align: left
    }
}

.box-design-service .service-box .heading .title[data-v-73492e4b] {
    color: #1173ba;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0
}

.box-design-service .service-box .heading .title-label[data-v-73492e4b] {
    color: #1173ba;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700
}

.box-design-service .service-box .heading .price[data-v-73492e4b] {
    color: #2ea512;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-left: 8px
}

.box-design-service .service-box .heading .right-block[data-v-73492e4b] {
    align-items: flex-end;
    display: flex;
    flex-direction: column
}

.box-design-service .service-box .main[data-v-73492e4b] {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 25px
}

@media(min-width:768px) {
    .box-design-service .service-box .main[data-v-73492e4b] {
        padding: 0 25px 25px
    }
}

.box-design-service .service-box .main p[data-v-73492e4b] {
    font-size: 12px;
    margin-bottom: 20px
}

@media(min-width:768px) {
    .box-design-service .service-box .main p[data-v-73492e4b] {
        margin-bottom: 30px
    }
}

.box-design-service .service-box.revision[data-v-73492e4b] {
    border-bottom: 1px solid #f2f2f2
}

@media(min-width:768px) {
    .box-design-service .service-box.revision[data-v-73492e4b] {
        border-bottom: none;
        border-right: 1px solid #f2f2f2
    }
}

.btn[data-v-73492e4b] {
    text-transform: uppercase
}

.lighter-blue-btn[data-v-73492e4b] {
    background-color: #fff;
    border-color: #1173ba;
    color: #1173ba
}

.plain-blue-btn[data-v-73492e4b] {
    background-color: #1173ba;
    border-color: #1173ba
}

.left-block[data-v-73492e4b] {
    text-transform: capitalize
}

.custom-control[data-v-73492e4b] {
    display: flex;
    justify-content: left;
    min-height: auto;
    width: 100%
}

.custom-control .custom-control-label[data-v-73492e4b] {
    align-items: center;
    color: #0b77c4;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    line-height: 15px;
    margin: 0
}

.custom-control .custom-control-label[data-v-73492e4b]:after,
.custom-control .custom-control-label[data-v-73492e4b]:before {
    height: 21px;
    left: -29px;
    top: -3px;
    width: 21px
}

.custom-control .custom-control-input:checked~.custom-control-label[data-v-73492e4b]:before {
    background-color: #0b77c4;
    border-color: #0b77c4;
    color: #fff
}