.spinner-border[data-v-77c2ae87] {
    border: .1rem solid;
    border-right: .1rem solid transparent;
    height: 1em;
    width: 1em
}

.send-to-cart[data-v-77c2ae87] {
    border: 0;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    padding: 6px 25px;
    position: relative;
    white-space: normal
}

@media(min-width:768px) {
    .send-to-cart[data-v-77c2ae87] {
        min-width: auto;
        padding: 16px 20px;
        width: 100%
    }
}

@media(min-width:992px) {
    .send-to-cart[data-v-77c2ae87] {
        line-height: 28px;
        margin-top: 10px
    }
    .send-to-cart .pixicon.icon-cart[data-v-77c2ae87] {
        font-size: 28px;
        margin-right: 15px
    }
    .send-to-cart .spinner-border[data-v-77c2ae87] {
        height: 1.3em;
        left: 38px;
        position: absolute;
        width: 1.3em
    }
}

.send-to-cart.disabled[data-v-77c2ae87],
.send-to-cart[data-v-77c2ae87]:disabled {
    cursor: auto
}

.send-to-cart[data-v-77c2ae87]:active,
.send-to-cart[data-v-77c2ae87]:link,
.send-to-cart[data-v-77c2ae87]:visited {
    color: #fff
}

.send-to-cart.loading-content[data-v-77c2ae87]:after {
    animation: loading 1.5s infinite;
    background: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .2), transparent);
    content: "";
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    width: 100%
}

.cancel-modify[data-v-77c2ae87] {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin: 20px auto 0;
    width: 100%
}

.cancel-modify.disabled[data-v-77c2ae87],
.cancel-modify[data-v-77c2ae87]:disabled {
    cursor: auto
}

.create-file[data-v-77c2ae87] {
    margin-right: 10px;
    position: relative;
    width: 100%
}

@media(min-width:992px) {
    .create-file[data-v-77c2ae87] {
        margin-right: 0
    }
}

.create-file .new-design[data-v-77c2ae87] {
    background: #a58bbe;
    border-radius: 10rem;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: .1em;
    overflow: hidden;
    padding: 2px 8px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: -6px;
    white-space: nowrap
}

@media(min-width:992px) {
    .create-file .new-design[data-v-77c2ae87] {
        padding: 4px 15px;
        right: 20px;
        top: 10px
    }
}

.create-file .design-stack[data-v-77c2ae87] {
    font-size: 15px;
    padding: 8px 14px;
    white-space: normal;
    width: 100%
}

@media(min-width:992px) {
    .create-file .design-stack[data-v-77c2ae87] {
        font-size: 16px;
        margin-top: 20px;
        padding: 15px 20px
    }
}

.mobile[data-v-77c2ae87] {
    display: flex;
    width: 100%
}

.mobile .send-to-cart[data-v-77c2ae87] {
    border: 0;
    font-size: 15px;
    padding: 8px 14px;
    width: 100%
}

.mobile .send-to-cart .pixicon.icon-cart[data-v-77c2ae87] {
    font-size: 22px;
    margin-right: 10px
}

.mobile .send-to-cart .spinner-border[data-v-77c2ae87] {
    height: 18px;
    margin-right: 10px;
    width: 18px
}

.mobile .cancel-modify[data-v-77c2ae87] {
    display: block;
    font-size: 12px;
    margin: 0 10px 0 0;
    max-height: 40px;
    padding: 6px 18px;
    width: 100%
}

.mobile .update-job[data-v-77c2ae87] {
    font-size: 12px;
    max-height: 40px;
    padding: 6px 25px
}

@media(min-width:768px) {
    .recap[data-v-55e97f0e] {
        color: #555
    }
}

@media(min-width:992px) {
    .recap[data-v-55e97f0e] {
        height: 100%
    }
}

.recap[data-v-55e97f0e] .inner {
    background-color: #f2f2f2
}

.recap .line[data-v-55e97f0e] {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.recap .unit-price[data-v-55e97f0e] {
    color: #7c7c7c
}

.recap .title[data-v-55e97f0e] {
    background-color: #555;
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
    position: relative
}

.recap .toggle-recap[data-v-55e97f0e] {
    color: #fff;
    cursor: pointer;
    font-size: 8px;
    margin-right: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

.recap .toggle-recap .fa-circle[data-v-55e97f0e] {
    font-size: 2em
}

.recap .toggle-recap .fa-minus[data-v-55e97f0e],
.recap .toggle-recap .fa-plus[data-v-55e97f0e] {
    font-size: 1.4em
}

.recap .order-recap-title[data-v-55e97f0e] {
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer
}

.recap .order-recap-body[data-v-55e97f0e] {
    padding: 5px 30px 8px
}

.recap .order-recap-body .order-recap-row[data-v-55e97f0e] {
    border-bottom: 1px solid #d1d1d1;
    padding: 7px 0
}

.recap .order-recap-body .order-recap-row .label[data-v-55e97f0e] {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 3px
}

.recap .order-recap-body .order-recap-row .value[data-v-55e97f0e] {
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .01em;
    line-height: 1.4
}

.recap .order-recap-body .order-recap-row[data-v-55e97f0e]:last-child {
    border-bottom: 0
}

.recap .recap-body[data-v-55e97f0e] {
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 30px
}

.recap .recap-body .value[data-v-55e97f0e] {
    display: flex
}

.recap .recap-body .recap-body-upper[data-v-55e97f0e] {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px
}

.recap .recap-body .recap-body-upper .label[data-v-55e97f0e] {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px
}

.recap .recap-body .recap-body-upper .line[data-v-55e97f0e] {
    margin-bottom: 10px
}

.recap .recap-body .recap-body-upper .line-small-margin[data-v-55e97f0e] {
    margin-bottom: 3px
}

.recap .recap-body .total-label[data-v-55e97f0e] {
    color: #94d3a3;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 32px
}

@media(min-width:992px) {
    .recap .recap-body .total-label[data-v-55e97f0e] {
        color: #2ea512
    }
}

.recap .recap-body .total-price[data-v-55e97f0e] {
    color: #94d3a3;
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    font-weight: 700
}

@media(min-width:992px) {
    .recap .recap-body .total-price[data-v-55e97f0e] {
        color: #2ea512
    }
}

.recap.recap-mobile[data-v-55e97f0e] {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0 -3px 10px #00000029;
    color: #555;
    left: 0;
    padding: 0 12px;
    position: fixed;
    right: 0;
    z-index: 20
}

.recap.recap-mobile.stacked-top[data-v-55e97f0e] {
    z-index: 999999
}

.recap.recap-mobile .recap-title[data-v-55e97f0e] {
    border-bottom: 1px solid #f2f2f2;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    padding-bottom: 12px
}

.recap.recap-mobile .recap-body[data-v-55e97f0e] {
    padding: 0
}

.recap.recap-mobile .lower-recap[data-v-55e97f0e] {
    padding-bottom: 8px;
    padding-top: 8px
}

.recap.recap-mobile .lower-recap .preview-price[data-v-55e97f0e] {
    align-self: center;
    cursor: pointer;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1
}

.recap.recap-mobile .lower-recap .preview-price.green[data-v-55e97f0e] {
    color: #2ea512
}

.recap.recap-mobile .lower-recap .preview-arrow[data-v-55e97f0e] {
    margin-right: 4px
}

.recap.recap-mobile .lower-recap .preview-arrow i[data-v-55e97f0e] {
    color: #0b77c4;
    font-size: 18px;
    vertical-align: top
}

.recap.recap-mobile .lower-recap .total-label[data-v-55e97f0e] {
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    font-weight: 700
}

.recap.recap-mobile .lower-recap .total-label.green[data-v-55e97f0e] {
    color: #2ea512
}

.recap.recap-mobile .lower-recap .recap-btn[data-v-55e97f0e] {
    margin-top: 20px
}

.recap.recap-mobile .order-recap-mobile[data-v-55e97f0e] {
    padding-bottom: 12px;
    padding-top: 12px
}

.multi-artwork[data-v-71a39246] {
    background-color: #f2f2f2;
    padding: 1em
}

.multi-artwork p[data-v-71a39246] {
    margin: 0
}

.multi-artwork .text[data-v-71a39246],
.multi-artwork .title[data-v-71a39246] {
    font-family: Montserrat, sans-serif
}

.flex-0[data-v-71a39246] {
    flex: 0
}

.gap-0[data-v-71a39246] {
    gap: 0
}

.flex-1[data-v-71a39246] {
    flex: 1
}

.gap-1[data-v-71a39246] {
    gap: 1em
}

.flex-2[data-v-71a39246] {
    flex: 2
}

.gap-2[data-v-71a39246] {
    gap: 2em
}

.flex-3[data-v-71a39246] {
    flex: 3
}

.gap-3[data-v-71a39246] {
    gap: 3em
}

.flex-4[data-v-71a39246] {
    flex: 4
}

.gap-4[data-v-71a39246] {
    gap: 4em
}

.flex-5[data-v-71a39246] {
    flex: 5
}

.gap-5[data-v-71a39246] {
    gap: 5em
}

.flex-6[data-v-71a39246] {
    flex: 6
}

.gap-6[data-v-71a39246] {
    gap: 6em
}

.flex-7[data-v-71a39246] {
    flex: 7
}

.gap-7[data-v-71a39246] {
    gap: 7em
}

.flex-8[data-v-71a39246] {
    flex: 8
}

.gap-8[data-v-71a39246] {
    gap: 8em
}

.flex-9[data-v-71a39246] {
    flex: 9
}

.gap-9[data-v-71a39246] {
    gap: 9em
}

.flex-10[data-v-71a39246] {
    flex: 10
}

.gap-10[data-v-71a39246] {
    gap: 10em
}

.price-grid.unified-bg[data-v-71a39246] {
    background-color: #f2f2f2
}

.more-options-container[data-v-71a39246] {
    align-items: center;
    display: block;
    display: flex;
    margin-left: 20px
}

.more-options-container .more-options[data-v-71a39246] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMaXZlbGxvXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDMyIDMyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMiAzMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlPi5zdDB7ZmlsbDojNWY1ZjVlfTwvc3R5bGU+PGcgaWQ9Imljb25zIj48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMTQuNiAxMS4zYzAtLjQuMS0uOC40LTEuMS4zLS4zLjctLjQgMS4xLS40LjQgMCAuOC4xIDEuMS40LjMuMy40LjcuNCAxLjEgMCAuNC0uMS43LS40IDFzLS43LjQtMS4xLjQtLjgtLjEtMS4xLS40Yy0uMy0uMy0uNS0uNy0uNC0xek0xNyAyMmgtMnYtNy41aDJWMjJ6Ii8+PHBhdGggY2xhc3M9InN0MCIgZD0iTTE2IDI4LjZDOSAyOC42IDMuNCAyMyAzLjQgMTZTOSAzLjQgMTYgMy40IDI4LjYgOSAyOC42IDE2IDIzIDI4LjYgMTYgMjguNnptMC0yNEM5LjcgNC42IDQuNiA5LjcgNC42IDE2UzkuNyAyNy40IDE2IDI3LjQgMjcuNCAyMi4zIDI3LjQgMTYgMjIuMyA0LjYgMTYgNC42eiIvPjwvZz48L3N2Zz4=);
    background-size: cover;
    cursor: pointer;
    height: 25px;
    width: 25px
}

@media(min-width:768px) {
    .more-options-container .more-options[data-v-71a39246] {
        height: 20px;
        width: 20px
    }
}

.more-options-container .sustainability[data-v-71a39246] {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMaXZlbGxvXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMCIgeT0iMCIgdmlld0JveD0iMCAwIDMyIDMyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAzMiAzMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlPi5zdDB7ZmlsbDpub25lO3N0cm9rZTojMWM2MzBiO3N0cm9rZS13aWR0aDoxLjI7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTEwLjYgMjcuNmMtMy44LTIuNS02LjMtNi44LTYuMy0xMS43UzYuOCA2LjUgMTAuNiA0YzMuOSAyLjUgNi40IDcgNi40IDExLjlzLTIuNSA5LjItNi40IDExLjd6TTEwLjYgMjcuNlYxMy41Ii8+PHBhdGggY2xhc3M9InN0MCIgZD0iTTE2LjggMTIuOWMzLjItMi4xIDctMi43IDEwLjUtMS45LjkgNC42LS4zIDkuMy0zLjkgMTIuOS0zLjQgMy40LTggNC43LTEyLjUgNC0uMSAwLS4zIDAtLjQtLjFNMTQuOCAyMy40bDUuOC01LjgiLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 25px;
    width: 25px
}

@media(min-width:768px) {
    .more-options-container .sustainability[data-v-71a39246] {
        height: 20px;
        width: 20px
    }
}

.loader-xl[data-v-71a39246] {
    margin-bottom: 80px;
    margin-top: 80px;
    margin: 0 !important;
    padding: 80px 0 !important
}

.loader-xl .spinner[data-v-71a39246] {
    border-width: .15em;
    color: #0b77c4 !important;
    height: 60px;
    width: 60px
}

.loader-xl .label[data-v-71a39246] {
    color: #0b77c4;
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .05em;
    margin-top: 16px
}

.price_grid_container[data-v-71a39246] {
    border-bottom: 1px solid #e2e2e2;
    color: #000;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center
}

.price_grid_container .row[data-v-71a39246] {
    align-items: normal
}

.price_grid_container .row.heading-base-height[data-v-71a39246] {
    height: 56px
}

@media(min-width:768px) {
    .price_grid_container .row.heading-base-height[data-v-71a39246] {
        height: 40px
    }
}

.price_grid_container .row.heading-base-height .grid_btn_container[data-v-71a39246] {
    align-items: flex-end;
    display: flex
}

.price_grid_container .first-row[data-v-71a39246] {
    align-items: flex-start
}

.price_grid_container .grid_qty_label[data-v-71a39246] {
    display: flex;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400
}

.price_grid_container .grid_qty_label .pixicon[data-v-71a39246] {
    font-size: 18px
}

.price_grid_container .grid_qty_label .pixicon.icon-arrow_right[data-v-71a39246] {
    margin-left: 4px
}

.price_grid_container .grid_qty_label .pixicon.icon-arrow_left[data-v-71a39246] {
    margin-right: 4px
}

.price_grid_container .grid_btn_container[data-v-71a39246] {
    padding: 0 5px 10px
}

@media(min-width:768px) {
    .price_grid_container .grid_btn_container[data-v-71a39246] {
        padding: 0 10px 18px
    }
}

.price_grid_container .grid_btn_container.label-container[data-v-71a39246] {
    display: flex
}

@media(min-width:768px) {
    .price_grid_container .grid_btn_container.label-container[data-v-71a39246] {
        padding-bottom: 10px
    }
}

.price_grid_container .grid_btn_container.selected .price_btn[data-v-71a39246] {
    background-color: #0b77c4;
    border: 1px solid #0b77c4;
    color: #fff
}

.price_grid_container .grid_btn_container.selected .price_btn[data-v-71a39246] small {
    color: #e2e2e2;
    display: block;
    font-size: 10px
}

.price_grid_container .grid_btn_container.selected .price_btn.price-promo[data-v-71a39246] {
    background-color: #f28910;
    border: 1px solid #f28910;
    color: #000
}

.price_grid_container .grid_btn_container.selected .date_btn[data-v-71a39246],
.price_grid_container .grid_btn_container.selected .qty_btn[data-v-71a39246] {
    background-color: #e2eef7;
    border: 1px solid #e2eef7;
    box-shadow: inset 0 0 0 1px #e2eef7
}

.price_grid_container .grid_btn_container.disabled[data-v-71a39246] {
    cursor: not-allowed;
    opacity: .8
}

.price_grid_container .grid_btn_container:not(.disabled) .grid_btn[data-v-71a39246] {
    cursor: pointer
}

.price_grid_container .grid_btn_container:not(.disabled) .grid_btn[data-v-71a39246]:hover {
    border: 1px solid #0b77c4;
    box-shadow: inset 0 0 0 1px #1173ba
}

.price_grid_container .grid_btn_container:not(.disabled) .grid_btn.price-promo[data-v-71a39246]:hover {
    border: 1px solid #f28910;
    box-shadow: inset 0 0 0 1px #f28910
}

.price_grid_container .grid_btn_container button[data-v-71a39246] {
    max-width: 200px
}

.price_grid_container .grid_btn[data-v-71a39246] {
    align-items: center;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center
}

.price_grid_container .grid_btn.price-promo[data-v-71a39246] {
    border-color: #febf8a
}

.price_grid_container .price_btn[data-v-71a39246] {
    font-size: 14px;
    min-height: 45px
}

.price_grid_container .price_btn[data-v-71a39246] del {
    display: block;
    font-size: 10px;
    line-height: 1;
    margin-bottom: 2px
}

.price_grid_container .price_btn[data-v-71a39246] span span {
    display: block;
    line-height: 1
}

.price_grid_container .price_btn[data-v-71a39246] small {
    color: #7c7c7c;
    display: block;
    font-size: 10px
}

.price_grid_container .date_btn[data-v-71a39246] {
    min-height: 55px
}

.price_grid_container .date_btn[data-v-71a39246] .day {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 3px
}

.price_grid_container .date_btn[data-v-71a39246] .dayMonth {
    display: block;
    font-family: Open Sans, sans-serif;
    font-size: 15px;
    line-height: 1
}

.price_grid_container label[data-v-71a39246] {
    font-weight: 700
}

.grid-overflow[data-v-71a39246] {
    -webkit-overflow-scrolling: touch;
    margin-top: 56px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap
}

@media(min-width:768px) {
    .grid-overflow[data-v-71a39246] {
        margin-top: 0
    }
}

.grid-overflow .row-overflow[data-v-71a39246] {
    display: block
}

@media(min-width:768px) {
    .grid-overflow .row-overflow[data-v-71a39246] {
        display: flex
    }
}

.grid-overflow .row-overflow>[class*=col-][data-v-71a39246] {
    display: inline-block;
    vertical-align: top
}

@media(min-width:768px) {
    .grid-overflow .row-overflow>[class*=col-][data-v-71a39246] {
        display: block
    }
}

.mobile-grid-header[data-v-71a39246] {
    position: absolute;
    width: 100%
}

.mobile-grid-header .label-heading[data-v-71a39246] {
    color: #0b77c4;
    cursor: pointer
}

.taxes-switch[data-v-71a39246] {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.taxes-switch label[data-v-71a39246] {
    font-weight: 400;
    margin: 0 12px 0 0
}

.taxes-switch .btn[data-v-71a39246] {
    font-size: 12px;
    font-weight: 400
}

.taxes-switch .btn-primary[data-v-71a39246] {
    background-color: #e6f2ff;
    border-color: #e6f2ff;
    color: #333
}

.taxes-switch .btn-primary[data-v-71a39246]:hover {
    background-color: #bfdfff;
    border-color: #bfdfff
}

.taxes-switch .btn-primary:not(:disabled):not(.disabled).active[data-v-71a39246],
.taxes-switch .btn-primary[data-v-71a39246]:not(:disabled):not(.disabled):active {
    background-color: #0b77c4;
    border-color: #0b77c4
}

.taxes-switch .btn-group>.btn-group[data-v-71a39246]:not(:first-child),
.taxes-switch .btn-group>.btn[data-v-71a39246]:not(:first-child) {
    margin-left: 0
}

.fade-enter-active[data-v-71a39246],
.fade-leave-active[data-v-71a39246] {
    transition: opacity .2s ease-out
}

.fade-enter[data-v-71a39246],
.fade-leave-to[data-v-71a39246] {
    opacity: 0
}

.form-group[data-v-5b19ddf7] {
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px
}

@media(min-width:992px) {
    .form-group[data-v-5b19ddf7] {
        padding-bottom: 25px;
        padding-top: 25px
    }
}

.form-group.form-group-spaced-desktop[data-v-5b19ddf7] {
    padding-bottom: 0;
    padding-top: 0
}

@media(min-width:992px) {
    .form-group.form-group-spaced-desktop[data-v-5b19ddf7] {
        padding-bottom: 25px;
        padding-top: 25px
    }
}

.form-group.form-group-spaced-desktop.layout-panoramic[data-v-5b19ddf7] {
    border: 0
}

.form-group.form-group-spaced-mobile[data-v-5b19ddf7] {
    padding-bottom: 15px;
    padding-top: 15px
}

@media(min-width:992px) {
    .form-group.form-group-spaced-mobile[data-v-5b19ddf7] {
        border-bottom: 0;
        padding-bottom: 0;
        padding-top: 0
    }
}

.form-group.form-group-spaced-mobile.layout-panoramic[data-v-5b19ddf7] {
    border: 0
}

.form-group.form-group-not-spaced[data-v-5b19ddf7] {
    padding-bottom: 0
}

.form-group.form-group-not-spaced .tab-content[data-v-5b19ddf7] {
    border-bottom: 0
}

.form-group .input-group input[type=text][data-v-5b19ddf7] {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important
}

.form-group .input-group .input-group-append .btn[data-v-5b19ddf7],
.form-group .input-group .input-group-append .input-group-text[data-v-5b19ddf7] {
    border: 1px solid transparent;
    border-radius: 0 99999px 99999px 0;
    cursor: pointer
}

.form-group .input-group .input-group-append .btn[data-v-5b19ddf7] {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 1
}

.form-group.form-group-error:not(:disabled):not(:invalid):not(.is-invalid) input[type=text][data-v-5b19ddf7] {
    border-color: #dc323f;
    color: #dc323f
}

input[type=text][data-v-5b19ddf7] {
    font-family: Open Sans, sans-serif;
    font-size: 12px !important;
    font-weight: 400;
    height: auto !important;
    padding: 7px 18px
}

input[type=text][data-v-5b19ddf7]:not(:disabled):not(:invalid):not(.is-invalid) {
    color: #0b77c4
}

input[type=text][data-v-5b19ddf7]:disabled:not(:invalid):not(.is-invalid) {
    background: transparent;
    color: #545454;
    cursor: not-allowed
}

.multi-artwork[data-v-6a034886] {
    background-color: #f2f2f2;
    padding: 1em
}

.multi-artwork p[data-v-6a034886] {
    margin: 0
}

.multi-artwork .text[data-v-6a034886],
.multi-artwork .title[data-v-6a034886] {
    font-family: Montserrat, sans-serif
}

.flex-0[data-v-6a034886] {
    flex: 0
}

.gap-0[data-v-6a034886] {
    gap: 0
}

.flex-1[data-v-6a034886] {
    flex: 1
}

.gap-1[data-v-6a034886] {
    gap: 1em
}

.flex-2[data-v-6a034886] {
    flex: 2
}

.gap-2[data-v-6a034886] {
    gap: 2em
}

.flex-3[data-v-6a034886] {
    flex: 3
}

.gap-3[data-v-6a034886] {
    gap: 3em
}

.flex-4[data-v-6a034886] {
    flex: 4
}

.gap-4[data-v-6a034886] {
    gap: 4em
}

.flex-5[data-v-6a034886] {
    flex: 5
}

.gap-5[data-v-6a034886] {
    gap: 5em
}

.flex-6[data-v-6a034886] {
    flex: 6
}

.gap-6[data-v-6a034886] {
    gap: 6em
}

.flex-7[data-v-6a034886] {
    flex: 7
}

.gap-7[data-v-6a034886] {
    gap: 7em
}

.flex-8[data-v-6a034886] {
    flex: 8
}

.gap-8[data-v-6a034886] {
    gap: 8em
}

.flex-9[data-v-6a034886] {
    flex: 9
}

.gap-9[data-v-6a034886] {
    gap: 9em
}

.flex-10[data-v-6a034886] {
    flex: 10
}

.gap-10[data-v-6a034886] {
    gap: 10em
}

.custom-quantity-container.unified-bg>div[data-v-6a034886] {
    background-color: #f2f2f2;
    padding: 0 1em
}

.form-group[data-v-6a034886] {
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px
}

@media(min-width:992px) {
    .form-group[data-v-6a034886] {
        padding-bottom: 25px;
        padding-top: 25px
    }
}

.form-group.form-group-spaced-desktop[data-v-6a034886] {
    padding-bottom: 0;
    padding-top: 0
}

@media(min-width:992px) {
    .form-group.form-group-spaced-desktop[data-v-6a034886] {
        padding-bottom: 25px;
        padding-top: 25px
    }
}

.form-group.form-group-spaced-desktop.layout-panoramic[data-v-6a034886] {
    border: 0
}

.form-group.form-group-spaced-mobile[data-v-6a034886] {
    padding-bottom: 15px;
    padding-top: 15px
}

@media(min-width:992px) {
    .form-group.form-group-spaced-mobile[data-v-6a034886] {
        border-bottom: 0;
        padding-bottom: 0;
        padding-top: 0
    }
}

.form-group.form-group-spaced-mobile.layout-panoramic[data-v-6a034886] {
    border: 0
}

.form-group.form-group-not-spaced[data-v-6a034886] {
    padding-bottom: 0
}

.form-group.form-group-not-spaced .tab-content[data-v-6a034886] {
    border-bottom: 0
}

.form-group .input-group input[type=text][data-v-6a034886] {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important
}

.form-group .input-group .input-group-append .btn[data-v-6a034886],
.form-group .input-group .input-group-append .input-group-text[data-v-6a034886] {
    border: 1px solid transparent;
    border-radius: 0 99999px 99999px 0;
    cursor: pointer
}

.form-group .input-group .input-group-append .btn[data-v-6a034886] {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 1
}

input[type=text][data-v-6a034886] {
    font-family: Open Sans, sans-serif;
    font-size: 12px !important;
    font-weight: 400;
    height: auto !important;
    padding: 7px 18px
}

input[type=text][data-v-6a034886]:not(:disabled):not(:invalid):not(.is-invalid) {
    color: #0b77c4
}

input[type=text][data-v-6a034886]:disabled:not(:invalid):not(.is-invalid) {
    background: transparent;
    color: #545454;
    cursor: not-allowed
}

.form-group .inner[data-v-6a034886] {
    display: flex
}

.fsc[data-v-7eb6453f] {
    align-items: center;
    border: 1px solid #c6c6c6;
    display: flex;
    margin-bottom: 16px;
    margin-left: 0;
    padding: 20px;
    text-align: center
}

@media(min-width:992px) {
    .fsc[data-v-7eb6453f] {
        text-align: left
    }
}

.fsc img[data-v-7eb6453f] {
    margin-bottom: 20px;
    width: 173px
}

@media(min-width:992px) {
    .fsc img[data-v-7eb6453f] {
        margin-bottom: 0;
        width: 150px
    }
}

@media(min-width:1200px) {
    .fsc img[data-v-7eb6453f] {
        width: 173px
    }
}

.fsc .title[data-v-7eb6453f] {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 6px
}

.fsc .content[data-v-7eb6453f] {
    line-height: 1.4
}

#sustainability-label-section[data-v-93d58d64] {
    border: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 16px
}

@media(min-width:576px) {
    #sustainability-label-section[data-v-93d58d64] {
        flex-direction: row;
        gap: 28px;
        padding: 28px
    }
}

#sustainability-label-section .icon-description-block[data-v-93d58d64] {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%
}

@media(min-width:576px) {
    #sustainability-label-section .icon-description-block[data-v-93d58d64] {
        align-items: center;
        gap: 28px
    }
}

#sustainability-label-section .icon-container[data-v-93d58d64] {
    max-width: 80px
}

#sustainability-label-section .icon-container img[data-v-93d58d64] {
    width: 100%
}

#sustainability-label-section .description-container[data-v-93d58d64] {
    flex-grow: 2
}

#sustainability-label-section .description-container h6[data-v-93d58d64] {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px
}

#sustainability-label-section .description-container .subtitle[data-v-93d58d64] {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px
}

#sustainability-label-section .description-container p[data-v-93d58d64] {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 0
}

#sustainability-label-section .download-button-container[data-v-93d58d64] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 180px
}

#sustainability-label-section .download-btn[data-v-93d58d64] {
    width: 100%
}

#modal-edit-item-alert .modal-content {
    border-radius: 20px;
    font-family: Montserrat
}

#modal-edit-item-alert .modal-header {
    justify-content: center
}

#modal-edit-item-alert .modal-header .modal-title {
    color: #555;
    font-size: 26px;
    font-weight: 700
}

@media(min-width:768px) {
    #modal-edit-item-alert .modal-header .modal-title {
        font-size: 34px
    }
}

#modal-edit-item-alert .modal-body {
    color: #555;
    font-size: 16px;
    text-align: center
}

@media(min-width:992px) {
    #modal-edit-item-alert .modal-body {
        padding: 16px 100px
    }
}

#modal-edit-item-alert .modal-footer {
    flex-wrap: nowrap;
    justify-content: center;
    padding: 30px
}

@media(min-width:992px) {
    #modal-edit-item-alert .modal-footer {
        padding: 30px 180px
    }
}

#modal-edit-item-alert .modal-footer .btn {
    font-size: 13px;
    font-weight: 400
}

#modal-edit-item-alert .red_text {
    color: #b7151f;
    font-weight: 700
}

.multi-artwork[data-v-162551c2] {
    background-color: #f2f2f2;
    padding: 1em
}

.multi-artwork p[data-v-162551c2] {
    margin: 0
}

.multi-artwork .text[data-v-162551c2],
.multi-artwork .title[data-v-162551c2] {
    font-family: Montserrat, sans-serif
}

.flex-0[data-v-162551c2] {
    flex: 0
}

.gap-0[data-v-162551c2] {
    gap: 0
}

.flex-1[data-v-162551c2] {
    flex: 1
}

.gap-1[data-v-162551c2] {
    gap: 1em
}

.flex-2[data-v-162551c2] {
    flex: 2
}

.gap-2[data-v-162551c2] {
    gap: 2em
}

.flex-3[data-v-162551c2] {
    flex: 3
}

.gap-3[data-v-162551c2] {
    gap: 3em
}

.flex-4[data-v-162551c2] {
    flex: 4
}

.gap-4[data-v-162551c2] {
    gap: 4em
}

.flex-5[data-v-162551c2] {
    flex: 5
}

.gap-5[data-v-162551c2] {
    gap: 5em
}

.flex-6[data-v-162551c2] {
    flex: 6
}

.gap-6[data-v-162551c2] {
    gap: 6em
}

.flex-7[data-v-162551c2] {
    flex: 7
}

.gap-7[data-v-162551c2] {
    gap: 7em
}

.flex-8[data-v-162551c2] {
    flex: 8
}

.gap-8[data-v-162551c2] {
    gap: 8em
}

.flex-9[data-v-162551c2] {
    flex: 9
}

.gap-9[data-v-162551c2] {
    gap: 9em
}

.flex-10[data-v-162551c2] {
    flex: 10
}

.gap-10[data-v-162551c2] {
    gap: 10em
}

.variant[data-v-162551c2] {
    flex: 0 0 calc(50% - 2em)
}

.variant input[type=number][data-v-162551c2] {
    text-align: center
}

.variant .form-group[data-v-162551c2] {
    margin: 0
}

.text-danger .pixicon[data-v-162551c2] {
    font-size: 12px;
    margin-right: 5px
}

.multi-artwork[data-v-3bcd896c] {
    background-color: #f2f2f2;
    padding: 1em
}

.multi-artwork p[data-v-3bcd896c] {
    margin: 0
}

.multi-artwork .text[data-v-3bcd896c],
.multi-artwork .title[data-v-3bcd896c] {
    font-family: Montserrat, sans-serif
}

.flex-0[data-v-3bcd896c] {
    flex: 0
}

.gap-0[data-v-3bcd896c] {
    gap: 0
}

.flex-1[data-v-3bcd896c] {
    flex: 1
}

.gap-1[data-v-3bcd896c] {
    gap: 1em
}

.flex-2[data-v-3bcd896c] {
    flex: 2
}

.gap-2[data-v-3bcd896c] {
    gap: 2em
}

.flex-3[data-v-3bcd896c] {
    flex: 3
}

.gap-3[data-v-3bcd896c] {
    gap: 3em
}

.flex-4[data-v-3bcd896c] {
    flex: 4
}

.gap-4[data-v-3bcd896c] {
    gap: 4em
}

.flex-5[data-v-3bcd896c] {
    flex: 5
}

.gap-5[data-v-3bcd896c] {
    gap: 5em
}

.flex-6[data-v-3bcd896c] {
    flex: 6
}

.gap-6[data-v-3bcd896c] {
    gap: 6em
}

.flex-7[data-v-3bcd896c] {
    flex: 7
}

.gap-7[data-v-3bcd896c] {
    gap: 7em
}

.flex-8[data-v-3bcd896c] {
    flex: 8
}

.gap-8[data-v-3bcd896c] {
    gap: 8em
}

.flex-9[data-v-3bcd896c] {
    flex: 9
}

.gap-9[data-v-3bcd896c] {
    gap: 9em
}

.flex-10[data-v-3bcd896c] {
    flex: 10
}

.gap-10[data-v-3bcd896c] {
    gap: 10em
}

.multi-artwork[data-v-3bcd896c] {
    width: 100%
}

.multi-artwork .title[data-v-3bcd896c] {
    font-size: 12px;
    font-weight: 700
}

@media(min-width:992px) {
    .multi-artwork .title[data-v-3bcd896c] {
        font-size: 14px
    }
}

.multi-artwork .text[data-v-3bcd896c] {
    font-size: 11px;
    font-weight: 400
}

@media(min-width:992px) {
    .multi-artwork .text[data-v-3bcd896c] {
        font-size: 12px
    }
}

.multi-artwork .text-danger .pixicon[data-v-3bcd896c] {
    font-size: 12px;
    margin-right: 5px
}

.loader-xl[data-v-1d06449e] {
    margin-bottom: 80px;
    margin-top: 80px
}

.loader-xl .spinner[data-v-1d06449e] {
    border-width: .15em;
    color: #0b77c4 !important;
    height: 60px;
    width: 60px
}

.loader-xl .label[data-v-1d06449e] {
    color: #0b77c4;
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .05em;
    margin-top: 16px
}

.configuration_container[data-v-1d06449e] {
    margin-bottom: 16px
}

.configuration_container.no-border[data-v-1d06449e] {
    border-bottom: 0;
    margin-bottom: 0
}

.form-group[data-v-1d06449e] {
    margin-bottom: 0;
    padding-bottom: 15px;
    padding-top: 15px
}

@media(min-width:992px) {
    .form-group[data-v-1d06449e] {
        padding-bottom: 25px;
        padding-top: 25px
    }
}

.form-group.form-group-spaced-desktop[data-v-1d06449e] {
    padding-bottom: 0;
    padding-top: 0
}

@media(min-width:992px) {
    .form-group.form-group-spaced-desktop[data-v-1d06449e] {
        padding-bottom: 25px;
        padding-top: 25px
    }
}

.form-group.form-group-spaced-desktop.layout-panoramic[data-v-1d06449e] {
    border: 0
}

.form-group.form-group-spaced-mobile[data-v-1d06449e] {
    padding-bottom: 15px;
    padding-top: 15px
}

@media(min-width:992px) {
    .form-group.form-group-spaced-mobile[data-v-1d06449e] {
        border-bottom: 0;
        padding-bottom: 0;
        padding-top: 0
    }
}

.form-group.form-group-spaced-mobile.layout-panoramic[data-v-1d06449e] {
    border: 0
}

.form-group.form-group-not-spaced[data-v-1d06449e] {
    padding-bottom: 0
}

.form-group.form-group-not-spaced .tab-content[data-v-1d06449e] {
    border-bottom: 0
}

.form-group .input-group input[type=text][data-v-1d06449e] {
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important
}

.form-group .input-group .input-group-append .btn[data-v-1d06449e],
.form-group .input-group .input-group-append .input-group-text[data-v-1d06449e] {
    border: 1px solid transparent;
    border-radius: 0 99999px 99999px 0;
    cursor: pointer
}

.form-group .input-group .input-group-append .btn[data-v-1d06449e] {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 1
}

.form-group[data-v-1d06449e]:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0
}

.validation-overlay[data-v-1d06449e] {
    background: hsla(0, 0%, 100%, .7);
    bottom: 0;
    cursor: default;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10
}

.fade-enter-active[data-v-1d06449e],
.fade-leave-active[data-v-1d06449e] {
    transition: opacity .5s ease-out
}

.fade-enter[data-v-1d06449e],
.fade-leave-to[data-v-1d06449e] {
    opacity: 0
}

.title_file[data-v-1d06449e] {
    color: #0c5081;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px
}

.ellipsed-content[data-v-920b6830] {
    position: relative
}

.ellipsed-content .ellipsis[data-v-920b6830] {
    margin-bottom: 1rem;
    max-height: 2.88rem;
    overflow: hidden;
    position: relative
}

.ellipsed-content .read-more[data-v-920b6830] {
    background: #fff;
    bottom: 0;
    box-shadow: -.8em 0 .8em #fff;
    position: absolute;
    right: 0;
    width: -moz-max-content;
    width: max-content
}

.ellipsed-content .read-more[data-v-920b6830]:before {
    background-color: #fff;
    bottom: 0;
    content: "...";
    padding: 0;
    position: absolute;
    right: 100%
}

.ellipsed-content .read-more-button[data-v-920b6830] {
    color: #0b77c4;
    cursor: pointer;
    font-weight: 700;
    margin-left: .8em
}

@supports(background:-webkit-named-image(i)) {
    .ellipsed-content .read-more.safari-only[data-v-920b6830] {
        bottom: 2px
    }
}